@{
    ViewBag.Titulo = "Listagem de Funcionários";
}

@model List<FuncionarioViewModel>;

<a class="btn btn-outline-primary rounded-pill px-4 mb-3" asp-action="Cadastrar">Cadastrar Novo</a>

@if (TempData["MensagemErro"] is string mensagemErro)
{
    <partial name="_Alerta" model="@new AlertaViewModel(mensagemErro, true)" />
}
@if (Model.Count == 0)
{
    <partial name="_Alerta" model="@(new AlertaViewModel("Nenhum funcionário cadastrado."))" />
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
        @foreach (var f in Model)
        {
            var fields = new[] {
                f.DisplayField(vm => vm.Telefone),
                f.DisplayField(vm => vm.Cpf, "CPF")
            };
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <partial name="_CardTitulo" model="@f.DisplayField(vm => vm.Id.ToShortString(), f.Nome)" />

                        <partial name="_CardCampos" model="@fields" />

                        <partial name="_CardAcoes" model="@f.Id" />
                    </div>
                </div>
            </div>
        }
    </div>
}
