@{
    ViewBag.Titulo = "Nova Requisição";
}

<div class="card border-primary-subtle shadow-sm mx-auto p-4">
    <h2 class="fw-bold mb-4 text-uppercase text-center text-secondary">Selecione o tipo da requisição que deseja realizar</h2>

    <div class="d-flex justify-content-center gap-2 mt-4">
        <a class="btn btn-primary fw-semibold btn-lg px-5 rounded-pill" asp-action="CadastrarEntrada">Requisição de Entrada</a>
        <a class="btn btn-primary fw-semibold btn-lg px-5 rounded-pill" asp-action="CadastrarSaida">Requisição de Saída</a>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <a class="btn btn-outline-primary rounded-pill px-4" asp-action="Listar">Voltar</a>
    </div>
</div>
