@{
    ViewBag.Titulo = "Cadastro de Fornecedor";
}

@model FornecedorViewModel;

<form class="card border-primary-subtle shadow-sm mx-auto p-4" style="max-width: 620px;" asp-action="Cadastrar" method="post">
    <partial name="_FormFornecedor" model="Model" />
    <partial name="_FormAcoes" />
</form>
