@{
    ViewBag.Titulo = "Listagem de Medicamentos";
}

@model List<MedicamentoMostrarViewModel>;

<partial name="_BotaoCadastrar" />

@if (TempData["MensagemErro"] is string mensagemErro)
{
    <partial name="_Alerta" model="@new AlertaViewModel(mensagemErro, true)" />
}
@if (Model.Count == 0)
{
    <partial name="_Alerta" model="@(new AlertaViewModel("Nenhum medicamento cadastrado."))" />
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
        @foreach (MedicamentoMostrarViewModel m in Model)
        {
            var campos = new[] {
                m.DisplayField(vm => vm.Descricao.Truncar(25)),
                m.DisplayField(vm => vm.Quantidade, new HtmlString($"{m.Quantidade}{(m.Quantidade <= 20 ? " <span class=\"text-danger fw-bold\">!</span>" : string.Empty)}")),
                m.DisplayField(vm => vm.FornecedorNome, "Fornecedor")
            };
            <partial name="_Card" model="(m.DisplayField(vm => vm.Id.ToShortString(), m.Nome), campos, m.Id, true)" />
        }
    </div>
}
